{% load static %}




    <li>
        <article class="post">
            <a href="{% url 'post-detail-page' 'blog-post' %}">
                 <!-- <img src="{% static 'blog/images/pic1.jpg' %}" alt="Mountain Hiking"> -->
                <div class="post__content"></div>
                <h3>Blog post number one</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti laborum optio dolorem doloribus. 
                    Culpa explicabo repudiandae quo architecto repellendus quaerat nulla, accusamus, in officiis alias pariatur.</p>
            </a>
        </article>
    </li>
